/*CONTAINER */
@font-face {
  font-family: "foundation-icons";
  src: url("../fonts/foundation-icons.eot");
  src: url("../fonts/foundation-icons.eot?#iefix") format("embedded-opentype"), url("../fonts/foundation-icons.woff") format("woff"), url("../fonts/foundation-icons.ttf") format("truetype"), url("../fonts/foundation-icons.svg#fontcustom") format("svg");
  font-weight: normal;
  font-style: normal; }
body {
  width: 960px;
  font-size: 0.6125rem;
  margin: 0 auto;
  padding: 0;
  font-family: Open Sans !important;
  background: #cbcbc3; }

img {
  width: 100%; }

/* HEADER */
.header-wrap {
  height: 132px; }
  .header-wrap .header {
    position: absolute;
    top: 11px;
    padding-left: 10px; }
    .header-wrap .header .logo {
      max-width: 20rem; }
    .header-wrap .header .company {
      margin-top: 30px;
      top: 27px; }
      .header-wrap .header .company h6, .header-wrap .header .company .uppercase {
        color: #fff;
        text-shadow: 2px 2px 4px #000000; }
      .header-wrap .header .company .uppercase {
        font-weight: bold; }

/* MENU */
.menu .top-bar, .menu .top-bar ul {
  background: #f37544; }

.menu .top-bar {
  border-top: 0.5px solid #fff;
  position: relative;
  padding: 0; }
  .menu .top-bar .is-dropdown-submenu {
    min-width: 260px; }
  .menu .top-bar .dropdown.menu > li.is-dropdown-submenu-parent > a {
    padding-right: 0; }
  .menu .top-bar .dropdown.menu > li.is-dropdown-submenu-parent > a::after {
    border: none; }
  .menu .top-bar li > a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    font-size: 0.7rem;
    text-transform: uppercase; }
  .menu .top-bar li > a > i.fa.fa-angle-down {
    padding-left: 0.5rem;
    padding-right: 0.5rem; }
  .menu .top-bar li.active a {
    background: #2199e8; }
  .menu .top-bar li.active a .fi-home {
    margin-right: 0; }
  .menu .top-bar li > a:hover {
    background: #2199e8; }
  .menu .top-bar li.divider {
    border-right: 1px solid #b86c01;
    border-left: 1px solid #d7d4d4; }
  .menu .top-bar input[type="search"] {
    color: #aeacac;
    font-size: 0.82rem;
    height: 1.838rem;
    margin-top: 0.2rem; }
  .menu .top-bar button {
    position: absolute; }
  .menu .top-bar .search-icon {
    color: #cbcbcb;
    top: 0.7rem;
    right: 6.4rem;
    border: none;
    background: none; }
  .menu .top-bar li ul.lang {
    margin-left: 10px; }
    .menu .top-bar li ul.lang li.lang {
      display: table-cell;
      padding: 0 3px 0 2px; }
      .menu .top-bar li ul.lang li.lang a {
        padding: 0; }

/* MAIN CONTENT */
/* LEFT SIDEBAR */
.main-content .news, .main-content .hot-center, .main-content .quick-link {
  margin-bottom: 0.9rem;
  border: 1px solid #ccc; }
.main-content .module-header h6, .main-content .module-header .header-wrap .header .company .uppercase, .header-wrap .header .company .main-content .module-header .uppercase {
  background: #f37544;
  color: #fff;
  padding: 0.5em;
  font-weight: 600;
  font-size: 0.8rem;
  margin-bottom: 0; }
.main-content .module-content {
  background: #fff; }
  .main-content .module-content p {
    margin-bottom: 0.2rem;
    font-size: 12px;
    padding: 10px 0px 0px 0px; }
    .main-content .module-content p a {
      text-decoration: none;
      font-size: 0.75rem;
      color: #333;
      font-weight: 600; }
      .main-content .module-content p a i.fa.fa-anchor {
        color: #ff6b26;
        font-weight: 600;
        margin-right: 0.3rem;
        margin-left: 0.3rem; }
  .main-content .module-content hr {
    margin: 10px 0px; }

.main-content {
  /*    padding: 0 0.7rem;*/
  background: #fff; }
  .main-content .small-12.medium-12.large-12.columns {
    padding: 0px; }
    .main-content .small-12.medium-12.large-12.columns .date {
      margin-left: 9px;
      margin-right: 1.45rem;
      border: 1px solid #ccc;
      background: #e4eff8;
      /*        .date p {
                  background: #fff;
                  padding: 0.2rem 0 0.2rem 0.5rem;
                  margin-bottom: 0.8rem;
      
              }*/ }
      .main-content .small-12.medium-12.large-12.columns .date p {
        font-size: 0.8rem;
        font-weight: bold;
        color: #333;
        margin-bottom: 0px;
        margin-left: 0.3rem;
        margin-top: 0.2rem;
        margin-bottom: 0.2rem; }
  .main-content .slick-track {
    background: #fff;
    /*        padding-bottom: 1rem;*/ }
  .main-content .slider-news1 .slick-track {
    height: 70px; }
  .main-content .small-slider.slick-slide {
    padding-left: 0.5rem;
    padding-right: 0.5rem; }
  .main-content .small-slider img {
    position: relative; }
  .main-content .small-slider .title {
    text-align: left;
    margin-left: 0.3rem; }
  .main-content .small-slider h6 a, .main-content .small-slider .header-wrap .header .company .uppercase a, .header-wrap .header .company .main-content .small-slider .uppercase a {
    position: absolute;
    top: 70%;
    text-transform: uppercase;
    color: #fff;
    font-weight: 600;
    background: rgba(0, 0, 0, 0.5); }
  .main-content .Rescue-operations, .main-content .Maritime-Information, .main-content .album {
    /*        margin-bottom: 0.9rem;*/ }
  .main-content ul {
    list-style: none;
    margin-left: 0.8rem; }
  .main-content .small-12.medium-3.large-3.columns {
    padding: 0.5rem; }
  .main-content .small-12.medium-5.large-5.columns {
    min-height: 400px;
    /*        padding-top: 20px;*/ }
  .main-content .small-12.medium-7.large-7.columns {
    min-height: 400px;
    /*            padding-top: 20px;*/ }
    .main-content .small-12.medium-7.large-7.columns .title-new hr {
      margin-top: 0.5rem; }
  .main-content .Rescue-operations .large-5.columns, .main-content .Maritime-Information .large-5.columns {
    border-right: 1px solid #dad9d9; }
  .main-content .module-content .row {
    border: 1px solid #ccc;
    margin: 0px;
    margin-top: 10px; }
  .main-content .slick-track {
    margin-top: 10px; }
  .main-content .slider-news1.slick-initialized.slick-slider {
    margin-top: 10px; }
  .main-content .slick-list.draggable {
    margin-bottom: 10px; }
  .main-content .slider-footer.slick-slide {
    margin-left: 0.5rem;
    margin-right: 0.5rem; }
  .main-content .controllers {
    bottom: 100px;
    position: relative; }
  .main-content .controllers .prev.slick-arrow {
    color: #fff;
    background: rgba(0, 0, 0, 0.5);
    font-size: 30px;
    position: absolute;
    float: left;
    left: -1%; }
  .main-content .controllers .next.slick-arrow {
    color: #fff;
    background: rgba(0, 0, 0, 0.5);
    font-size: 30px;
    position: absolute;
    float: right;
    right: -1%; }

.footer {
  height: 129px; }
  .footer .address {
    background: #f47544;
    padding-top: 1rem; }
    .footer .address p {
      text-align: center;
      font-size: 0.9rem;
      color: #fff;
      line-height: 0.8em; }
    .footer .address h6, .footer .address .header-wrap .header .company .uppercase, .header-wrap .header .company .footer .address .uppercase {
      text-align: center;
      color: #fff;
      padding-bottom: 1em; }
  .footer #goTop {
    bottom: 100px;
    cursor: pointer;
    display: none;
    height: 35px;
    width: 35px;
    position: fixed;
    right: 5%;
    width: 44px;
    z-index: 1000; }
  .footer #goTop img {
    height: 46px;
    width: 46px; }
