/* HEADER */
.header-wrap {
    height: 132px;
    .header {
        position: absolute;
        top: 12px;
        padding-left:10px;
        .logo {
            max-width: 20rem;
        }
        .company {
            margin-top: 30px;
            top: 27px;
            h6 {
                color: #fff;
            }
            .uppercase {
                @extend h6;
                font-weight: bold;
            }
        }
    }
}