.footer{
    height: 129px;
    .address{
        background: #f47544;
        padding-top:1rem;
        p{
            text-align: center;
            font-size: 0.9rem;
            color: #fff;
            line-height: 0.8em;
        }   
        h6 {
            text-align: center;
            color: #fff;
            padding-bottom: 1em;
        }
        
    }
    #goTop {
    bottom: 100px;
    cursor: pointer;
    display: none;
    height: 35px;
    width: 35px;
    position: fixed;
    right: 5%;
    width: 44px;
    z-index: 1000;
}
#goTop img{
    height: 46px;
    width: 46px;
}
    
}

