.footer{
    height: 129px;
    .address{
        background: #f47544;
        padding-top:1rem;
        p{
            text-align: center;
            font-size: 0.9rem;
            color: #fff;
            line-height: 0.8em;
        }   
        h6 {
            text-align: center;
            color: #fff;
            padding-bottom: 1em;
        }
        
    }
    
}

