/* MAIN CONTENT */
@import 'left-sidebar/left-sidebar.scss';
.main-content {
    /*    padding: 0 0.7rem;*/
    background: #fff;
    .small-12.medium-12.large-12.columns {
        padding: 0px;   
    .date{
        margin-left:9px;
        margin-right: 1.45rem; 
        border:1px solid#ccc;
        background:#e4eff8;
        p{
            font-size: 0.8rem;            
            font-weight: bold;
            color: #333;
            margin-bottom: 0px;
            margin-left: 0.3rem;
            margin-top: 0.2rem;
            margin-bottom: 0.2rem;
        }
/*        .date p {
            background: #fff;
            padding: 0.2rem 0 0.2rem 0.5rem;
            margin-bottom: 0.8rem;

        }*/
    }
    }

    .slick-track {
        background: #fff;
/*        padding-bottom: 1rem;*/
    }
    .slider-news1 .slick-track{
        height: 70px;
    }
    .small-slider.slick-slide {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }
    .small-slider {
        img {
            position: relative;
        }
        .title {
            text-align: left;
            margin-left: 0.3rem;
        }
        h6 a {
            position: absolute;
            top: 70%;
            text-transform: uppercase;
            color: #fff;
            font-weight: 600;
            background: rgba(0, 0, 0, 0.5);
        }
        
    }
    .Rescue-operations , .Maritime-Information , .album {
/*        margin-bottom: 0.9rem;*/
    }
    ul {
        list-style: none;
        margin-left: 0.8rem;
    }
    .small-12.medium-3.large-3.columns {
        padding: 0.5rem;
    }
    .small-12.medium-5.large-5.columns {
        min-height: 400px;
/*        padding-top: 20px;*/
    }
    .small-12.medium-7.large-7.columns {       
            min-height: 400px;
/*            padding-top: 20px;*/
            .title-new {
                hr{
                    margin-top: 0.5rem;
                    
                }
            }
        }
    
    .Rescue-operations , .Maritime-Information {
        .large-5.columns {
            border-right: 1px solid #dad9d9;
        }
        
    }
    .module-content{
        .row{           
            border: 1px solid #ccc;
            margin: 0px;
            margin-top: 10px;
        }
    }
    .slick-track{
        margin-top: 10px;
    }
    .slider-news1.slick-initialized.slick-slider {
        margin-top: 10px;
    }
    .slick-list.draggable {
    margin-bottom: 10px;
    }
    .slider-footer.slick-slide{
        margin-left: 0.5rem;
        margin-right: 0.5rem;
    }
    .controllers {
    bottom: 100px;
    position: relative;
}
    .controllers .prev.slick-arrow{
        color: #fff;
        background: rgba(0, 0, 0, 0.5);
        font-size: 30px;
        position: absolute;
        
        float: left;
        left: -1%;
            
    }
    .controllers .next.slick-arrow{
        color: #fff;
        background: rgba(0, 0, 0, 0.5);
        font-size: 30px;
        position: absolute;
        
        float: right;
        right: -1%;
            
    }
}